<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Microtipping and digital collectibles platform to help musicians raise money and connect with fans.  Fans get proof of their support that lasts forever.">
    <meta name="author" content="Matt Davis">

    <title>Bandstock - Microtipping Platform for Music</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>


    <script src="<%= Routes.static_path(@conn, "/js/three.min.js") %>"></script>
    <script src="<%= Routes.static_path(@conn, "/js/tween.min.js") %>"></script>
    <script src="<%= Routes.static_path(@conn, "/js/TrackballControls.js") %>"></script>
    <script src="<%= Routes.static_path(@conn, "/js/CSS3DRenderer.js") %>"></script>
    <script src="<%= Routes.static_path(@conn, "/js/dat.gui.min.js") %>"></script>
    <script src="<%= Routes.static_path(@conn, "/js/stats.min.js") %>"></script>
  </head>

  <body>
    <%= render @view_module, @view_template, assigns %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>